<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./models/bs_css') %>
  <title>Document</title>
</head>
<body>
  <%- include('./navbar') %>
  <main class="container text-center">
    <div class="row">
      <div class="col-12">
        <a href="/add_todo">新增事項</a>
        <div class="row">
          <!-- unfinished items div -->
          <div id="unfinished" class="col-6 text-start">
            
          </div>
          <!-- finished items div -->
          <div id="finished" class="col-6 text-start">

          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('./models/bs_js') %>
  <script src="/javascripts/index.js"></script>
</body>
</html>